<link rel="icon" type="image/svg+xml" href="{{ "/assets/img/ico/safari-pinned-tab.svg" | relative_url }}">
<link rel="alternate icon" href="{{ "/favicon.ico" | relative_url }}">
<link rel="mask-icon" href="{{ "/assets/img/ico/safari-pinned-tab.svg" | relative_url }}" color="#fff">
<link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}" type="image/x-icon">
<link rel="icon" href="{{ "/favicon.ico" | relative_url }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ "/assets/img/ico/apple-touch-icon-60x60.png" | relative_url }}" sizes="60x60">
<link rel="apple-touch-icon" href="{{ "/assets/img/ico/apple-touch-icon-76x76.png" | relative_url }}" sizes="76x76">
<link rel="apple-touch-icon" href="{{ "/assets/img/ico/apple-touch-icon-120x120.png" | relative_url }}" sizes="120x120">
<link rel="apple-touch-icon" href="{{ "/assets/img/ico/apple-touch-icon-152x152.png" | relative_url }}" sizes="152x152">
<link rel="apple-touch-icon" href="{{ "/assets/img/ico/apple-touch-icon-180x180.png" | relative_url }}" sizes="180x180">
