---
layout: base
---
<div class="home">
    <h1>
      {{- page.category_name | replace_first: '_', '&nbsp;' | replace_first: '1П', '1-я&nbsp;П' | replace_first: '1Ц', '1-я&nbsp;Ц'  | replace_first: '1Т', '1-е&nbsp;Т'  | replace_first: '1Ф', '1-е&nbsp;Ф'  | replace_first: '1И', '1-е&nbsp;И'  | replace_first: '1К', '1-е&nbsp;К' | replace_first: '2К', '2-е&nbsp;К' | replace_first: '2И', '2-е&nbsp;И' | replace_first: '2Т', '2-е&nbsp;Т' | replace_first: '2Ф', '2-е&nbsp;Ф' | replace_first: '3И', '3-е&nbsp;И' | replace_first: '2П', '2-я&nbsp;П' | replace_first: '2Ц', '2-я&nbsp;Ц' | replace_first: '3Ц', '3-я&nbsp;Ц' | replace_first: '4Ц', '4-я&nbsp;Ц' -}}
    </h1>
    <div class="posts">
      {%- for post in site.categories[page.category_name] %}
        <div class="post">
          <p class="post-meta">
        {%- if site.date_format %}
            {{- post.date | date: site.date_format -}}
        {%- else %}
            {{- post.date | date: "%d/%m/%y" -}}
        {%- endif %}
        </p>
          <h3>
            <a href="{{ post.url | relative_url }}" class="post-link">
              {{- post.title -}}
            </a>
          </h3>
        </div>
      {%- endfor %}
    </div>
</div>
