---
layout: default
---
<div class="home">
    <h1>
      {{- page.category_name -}}
    </h1>
    <div class="posts">
      {%- for post in site.categories[page.category_name] %}
        <div class="post">
          <p class="post-meta">
        {%- if site.date_format %}
            {{- post.date | date: site.date_format -}}
        {%- else %}
            {{- post.date | date: "%d/%m/%y" -}}
        {%- endif %}
        </p>
          <h3>
            <a href="{{ post.url | relative_url }}" class="post-link">
              {{- post.title -}}
            </a>
          </h3>
        </div>
      {%- endfor %}
    </div>
</div>
